include header

block content
    .main.container
        .row
            .col-sm-12.col-md-6
                .card.mb3
                    .card-header Edit Ticket
                    .col-sm-12.col-md-6
                    .card-body

                        h3= title
                        form#form_edit_ticket(name="edit", method="post", action="/edit/" + _id)
                            span Ticket Number
                            span &nbsp;
                            .form-group
                            input.form-control.breadcrumb-item(autofocus=true, type="text", placeholder="Ticket Number", name="tNum", value=tNum)
                            br
                            span Category
                                span &nbsp;
                                .form-group
                                    select#category.form-control(name='category')
                                        option
                                        option Software
                                        option Hardware
                                        option Printer
                                        option FileServer
                                        option Email
                                        option Server
                                        option Triconex

                            br
                            span Customer
                            span &nbsp;
                            .form-group
                            input.form-control.breadcrumb-item(type="text", placeholder="Customer Name", name="customer", value=customer)
                            br
                            span Problem
                            span &nbsp;
                            .form-group
                            input.form-control.breadcrumb-item(type="text", placeholder="Enter Problem", name="problem", value=problem)
                            br
                            span Status
                                span &nbsp;
                                .form-group
                                    select#status.form-control(name='status')
                                        option
                                        option Open
                                        option Closed
                            br
                            span Fix Action
                            span &nbsp;
                            .form-group
                            input.form-control.breadcrumb-item(type="text", placeholder="Fix Action", name="fAction", value=fAction)
                            br
                            div.wrapper
                            button#submit_student.btn.btn-outline-primary.btn-sm(style='margin: 5px',type="submit") Save Ticket

                            a.btn.btn-outline-primary.btn-sm(style='margin: 5px', href='/delete/' + _id) Delete

                            a.btn.btn-outline-primary.btn-sm(style='margin: 5px', href='/tickets') Cancel